$icon-font-path: '../fonts/';

// import bootstrap theme
@import "./united/_bootstrap.scss";
@import "./united/_variables.scss";
@import "./united/_bootswatch.scss";

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 80px;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    -webkit-transition: background-color 0.9s, color 0.9s;
    -moz-transition: background-color 0.9s, color 0.9s;
    -o-transition: background-color 0.9s, color 0.9s;
    transition: background-color 0.9s, color 0.9s;

    // -webkit-transition: text-decoration 1s ease-out 0.2s;
    // -moz-transition: text-decoration 1s ease-out 0.2s;
    // -o-transition: text-decoration 1s ease-out 0.2s;
    // transition: text-decoration 1s ease-out 0.2s;
    // text-decoration: none;
    // background-color: #eeeeee;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #777777;
}


/*
 * Main content
 */

.main {
  padding: 20px;
  padding-bottom: 120px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  -webkit-transition: width 0.7s;
  -moz-transition: width 0.7s;
  -o-transition: width 0.7s;
  transition: width 0.7s;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* brand */
.navbar-brand {
  padding:6px;
}

/* move up content because we have a fixed footer 80px tall */
.footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  height: 80px; 
  background-color: #777777;
  color: white;
  padding: 30px;
}

.top-contacts {
  display: none;
}

@media (min-width: 1036px) {
  .top-contacts {
    display: block;
  }
}