<div>
  <h1 class="page-header">Main Overview Page</h1>

  <div class="row placeholders">
    <elem ng-repeat="elm in elements" class="col-xs-6 col-sm-3"></elem>
  </div>

  <br>

  <div class="row placeholders">
    <elem ng-repeat="elm in elements" class="col-xs-6 col-sm-3"></elem>
  </div>

  <br>

  <div class="row placeholders">
    <elem ng-repeat="elm in elements" class="col-xs-6 col-sm-3"></elem>
  </div>

  <br>

  <div class="row placeholders">
    <elem ng-repeat="elm in elements" class="col-xs-6 col-sm-3"></elem>
  </div>

  <br>

</div>